/* Шрифты */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
/*--------*/

// Переменные //
$dFount: Lato;
$max: 980px;
//------------//

/* Обнуляющий стиль */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{font-family:$dFount;height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
.ibg img{display: none;} 
/*------------------*/

/* Настройки */
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.body {
	flex: 1 1 auto;
}
/*-----------*/

/* Шапка */
@import "header.scss";
/*-------*/
  
/* Тело */
.body {
	.menu {
		margin: 14px 0 1px 0;
		border-top: 1px solid #A6CDD7;
		border-bottom: 1px solid #A6CDD7;
		&__dir {
			color: #2a535e;
			max-width: $max;
			margin: 0 auto;
			padding: 8px 0;
			font-size: 11px;
		}
		&__link {
			color: #2a535e;
		}
	}
	.category {
		background-color: #1f987d;
		.container {
			color: #fff;
			margin: 0 auto;
			max-width: $max;
			text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
			font-size: 22px;
			font-weight: 900;
			line-height: 22px;
			font-style: italic;
			padding: 18px 0 20px 0;
		}
		margin: 0 4px 0 0;
	}
	.content {

		display: flex;
		max-width: $max;
		margin: 0 auto 74px auto;
		padding: 42px 0 0 0;
		&__left {
			background-color: #fff;
		}
		&__articles {
			padding: 0 46px 0 0;
		}
		&__article {
			display: flex;
			margin: 0 0 42px 0;
			&:last-child {
				margin: 0;
			}
		}
		&__rating {
			flex: 0 0 51px;
			height: 51px;
			background-image: url("../../img/blog/01.svg");
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ffffff;
			font-size: 24px;
			font-weight: 300;
		}
		&__info {
			margin: 0 0 0 22px;
		}
		&__date {
			color: #2a535e;
			font-size: 12px;
			font-style: italic;
			margin: 0 0 7px 0;
		}
		&__header {
			display: inline-block;
			color: #2a535e;
			font-size: 24px;
			font-weight: 700;
			margin: 0 0 15px 0;
		}
		&__image {
			height: 131px;
		}
		&__message {
			color: #2a535e;
			font-size: 14px;
			font-weight: 300;
			line-height: 22px;
			margin: 0 0 32px 0;
		}
		&__button-more {
			height: 1px;
			width: 92%;
			background: linear-gradient(to right, #fff 0, #C3CFD2 100%);
			position: relative;
		}
		&__image-link {
			position: absolute;
			right: 0;
			top: -15px;
		}
		&__navigation {}
		&__button-left {}
		&__buttons {}
		&__button-nav {}
		&__button-right {}
		&__right {
			background-color: #fff;
			flex: 0 0 244px;
			margin: 0 0 0 21px;
		}
		&__blog-categories {
			padding: 12px 18px;
		}
		&__categories-header {
			color: #2a535e;
			font-size: 15px;
			font-weight: 900;
			margin: 0 0 18px 0;
		}
		&__categories-list {
		}
		&__categories-item {
			display: flex;
			border-bottom: 1px solid #8FCBBE;
			justify-content: space-between;
		}
		&__categories-name {
			color: #2a535e;
			font-size: 14px;
			font-weight: 300;
		}
		&__category-value {
			color: #fff;
			width: 19px;
			height: 20px;
			background-color: #2a535e;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-content: center;
			font-size: 12px;
			font-weight: 300;
			line-height: 16px;
		}
	}
}
/*------*/

/* Подвал */
@import "footer.scss";
/*--------*/